<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>View Grades</title></head>
<body>

<a href="/faculty/upload">Upload Grades</a>
<a href="/login">Logout</a> <!--should be logout; login for view purposes muna-->

<h1>Course X</h1>
<h2>Grades</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <th>Student</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Student A</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Student B</td>
        <td>B+</td>
    </tr>
    <tr>
        <td>Student C</td>
        <td>C</td>
    </tr>
    </tbody>
</table>
</body>
</html>
