<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Register</title></head>
<body>
<h1>Register</h1>
<form action="/register" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="role">Select Role:</label>
    <select id="role" name="role" required>
        <option value="" disabled selected>Select your role</option>
        <option value="FACULTY">FACULTY</option>
        <option value="STUDENT">STUDENT</option>
    </select>

    <p th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <button type="submit">Register</button>
</form>


</body>
</html>
